* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Tangerine";
  src: url(/assets/css/fonts/Tangerine-Bold.ttf);
}
@font-face {
  font-family: "FiraRegular";
  src: url(/assets/css/fonts/FiraSans-Regular.ttf);
}
@font-face {
  font-family: "FiraBold";
  src: url(/assets/css/fonts/FiraSans-Bold.ttf);
}
@font-face {
  font-family: "FiraLight";
  src: url(/assets/css/fonts/FiraSans-Light.ttf);
}
:root {
  --main-color: #7334e4;
  --second-color: #9450f2;
  --tird-color: #caa6fd;

  --border-color: #323232;

  --font-color: #fff;
  --font-weight: 500;
  --font-size: 0.99rem;

  --bg-color: #d1d1d1;

  --max-wd: 1200px;

  --font-label: "FiraBold";
  --font-all-text: "FiraRegular";
  --font-dr: "Tangerine";
}
/* ######################################################################### */
body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#background {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* ######################################################################### */
header {
  background-color: var(--main-color);
}
header div {
  width: var(--max-wd);
  padding: 2rem;
  margin: auto;
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* ######################################################################### */
main {
  width: var(--max-wd);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1rem 0;
}
main nav {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  width: 30%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
}
main nav form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  row-gap: 0.7rem;
}
.fieldset_info,
.fieldset_medic {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
main nav form label {
  padding-left: 1rem;
  color: var(--border-color);
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--font-label);
}
main nav form #date_time_input {
  display: flex;
  margin-bottom: 0.4rem;
  column-gap: 1rem;
}
nav form #date_time_input input {
  width: 48%;
}
main nav form input,
main nav form select,
#date_time_input > input {
  margin: 0.4rem 0 0.4rem 0;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
  outline: none;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  transform: translateY(-0.2em);
  transition: 0.04s;
  transition-timing-function: linear;
  font-family: var(--font-all-text);
}
main nav form input:hover,
main nav form select:hover {
  box-shadow: 0px 1px 6px 0px var(--second-color);
  transform: translateY(-0.33em);
}
main nav form .prescription {
  display: flex;
  column-gap: 1rem;
}
main nav form .prescription input,
main nav form .prescription select {
  width: 100%;
}
#text_obs {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
  outline: none;
  padding: 0.4rem;
  resize: none;
  margin-bottom: 1rem;
}

main nav form .form_btn {
  display: flex;
  justify-content: space-between;
}
main nav form .form_btn {
  margin-top: 0.5rem;
}
.field_buttons {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  row-gap: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
}
main nav button {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
  outline: none;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  transform: translateY(-0.2em);
  transition: all linear 0.04s;
}
button:hover {
  transform: translateY(-0.33em);
}
button:active {
  transform: translateY(0);
}
/* ########################################################################## */
main section {
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
main section #preview_prescription,
main section #preview_procedure {
  background-image: url(/assets/images/bg_receituario.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  font-family: var(--font-all-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#header_preview {
  text-align: center;
  font-size: 0.9rem;
}
#header_preview p:first-child {
  font-family: var(--font-dr);
  font-size: 2rem;
}
#preview_prescription #name_preview {
  text-align: center;
}
#preview_procedure #name_preview {
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
}
#main_preview {
  padding: 0 2rem;
  text-align: start;
  width: 100%;
}
#main_preview p {
  margin-bottom: 1rem;
  display: flex;
}
#main_preview span {
  display: none;
  font-size: 0.8rem;
  padding-left: 1rem;
}
#main_preview p:hover span {
  display: block;
}
#footer_preview {
  width: 100%;
  padding-right: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 0.4rem;
}
#footer_preview p {
  display: flex;
  align-items: end;
}
#footer_preview p:first-child::before {
  content: "📞";
  padding-right: 0.4rem;
  filter: grayscale(100%);
}
#footer_preview p:nth-child(2)::before {
  content: "📍";
  padding-right: 0.4rem;
  filter: grayscale(100%);
}

#footer_preview p:last-child::before {
  content: "🏢";
  padding-right: 0.4rem;
  filter: grayscale(100%);
}
main section #btn_prev_container {
  display: flex;
  justify-content: end;
  column-gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem 0.2rem 0;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
}

main section button {
  padding: 0.6rem 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
  outline: none;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  transform: translateY(-0.2em);
  transition: 0.04s;
  transition-timing-function: linear;
}

/* ######################################################################### */
footer {
  /* background-color: var(--main-color); */
  color: var(--font-color);
  text-align: center;
  font-size: 0.83rem;
  font-weight: 500;
}

/* ######################################################################### */
